<div data-role="page" data-rho-wait-page="true" data-title="LGDPM-Android" data-url="<%= Rho::RhoConfig.start_path %>">
  <div data-role="header" data-position="inline">
    <h1>通信中</h1>
    <a href="#" id="cancel-button" class="ui-btn-left" data-icon="delete" onclick="cancel_upload('<%= url_for url_for :action => :cancel_upload %>')" data-direction="reverse">
      キャンセル
    </a>
  </div>
  <div data-role="content">
      <img src="/public/images/loading.gif" /><%= @msg %>
  </div>
</div>
