<div data-role="page" data-rho-wait-page="true" data-title="LGDPM-Android" data-url="<%= Rho::RhoConfig.start_path %>">
  <div data-role="header" data-position="inline">
    <h1>通信中</h1>
  </div>
  <div data-role="content">
      <img src="/public/images/loading.gif" />住所マスタをダウンロードしています。
  </div>
</div>
