<div data-role="page" id="login" data-add-back-btn="true" data-theme="b" data-title="LGDPM-Android">

  <div data-role="header" data-position="inline">
    <h1>ログイン</h1>
  </div>

  <div data-role="content">
    <div id="error_message" class="errorMessage"></div>
    <form method="POST" id="login-form" action="<%= url_for :action => :do_login %>">
      <div data-role="fieldcontain">
        <label for="login_id" class="itemLabel">ログインID</label>
        <input type="text" id="login_id" name="login" class="itemValue" maxlength="50" />
      </div>
      <div data-role="fieldcontain">
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" class="itemValue" maxlength="50" />
      </div>
      <button type="button" data-theme="a" data-mini="true" onclick="do_login('<%= url_for :action => :do_login %>')">ログイン</button>
    </form>
  </div>
</div>
